aside {
  width: 18%;
  height: 500vh;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: left;
  box-shadow: 2px 0 0 0 #000;
  font-style: italic;
  color: #29627e;
}

.userInfo{
  font-size: 20px;
  padding: 5px;
}

.userInfo input{
  font-size: 18px;
  padding: 5px;
}

.loginInfo{
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}


.login_btn{
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  margin: 0px;
}
.signUp_btn{
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  margin: 10px;
}
.logout_btn{
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  margin: 0px;
}
.mypage_btn{
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  margin: 10px;
}

.forbidden_btn{
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  background-color: #f00;
  cursor: pointer;
  margin: 0px;
}
.login_btn:hover,
.signUp_btn:hover,
.logout_btn:hover,
.mypage_btn:hover{
background-color: #ccc;
font-weight: bold;
}

.forbidden_btn:hover {
  background-color: pink;
  color: black;
  font-weight: bold;
  }

  .profile_img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }