.category_title {
  font-size: 24px; /* 글씨 크기 */
  text-align: center; /* 가운데 정렬 */
  font-weight: bold;
}

.category_title span {
  font-size: 40px; /* 글씨 크기 */
  font-weight: bold;
}

.card {
  background-color: cornflowerblue;
  display: inline-block;
  margin: 1% 2.5%;
  border-radius: 20px;
  width: 20%;
  cursor: pointer;
}

.card:hover img {
  opacity: 0.8;
}

.Writing_Card_title{
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.card:hover {
  background-color: rgb(67, 99, 159);
}

.preview_img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.user_profile_img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: inline-block;
}

.icon_like {
  display: inline-block;
  padding: 10px;
}

.icon_view {
  display: inline-block;
  padding: 10px;
}

.card_info_p {
  display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 5px;
}

.writing_btn_p{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 0; /* 위 아래 패딩 */
}

.writing_btn{
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #f1f1f1;
  cursor: pointer;
  
}

.writing_btn:hover {
  background-color: #ccc;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-btn {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.pagination-btn:hover {
  background-color: #ddd;
}
.pagination-btn:disabled {
  opacity: 0.5;
  cursor: default;
}